div{
    position: relative;
    float: left;
}
#div_container{
    height: 100%;
    float: left;
    width: 80%;
    border: 0px solid blue;
    margin-left: 10%;
    background: aquamarine;
}
#tbl_fruit{
    width: 100% ;
    line-height: 50px;
    margin-top: 120px;

}
#tbl_fruit,#tbl_fruit tr,#tbl_fruit th,#tbl_fruit td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: "黑体";
    font-weight: lighter;
    color: black;
}
#div_fruit_list{
    width: 100%;
    border: 0px solid rebeccapurple;
    /*border-radius: 60px;*/
}
body{
    margin: 0;
    padding: 0;
    background: lightpink;
}
.btn{
    border: 2px solid greenyellow;
    width: 80px;
    height: 24px;
}
#add_fruit_div
{
    border: 0px solid red;
    width: 30%;
    margin-left: 40%;
}
#add_fruit_Tbl,#add_fruit_Tbl tr,#add_fruit_Tbl th,#add_fruit_Tbl td
{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: "黑体";
    font-weight: lighter;
    color: black;
}